<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler, ReflectInsight.Core" />    
  </configSections>

  <insightSettings externalConfigSource="ReflectInsight.config" />    
</configuration>