<?xml version="1.0"?>
<configuration>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true" />
      <enable state="all" />      
      <propagateException enabled="false" />            
      <exceptionEventTracker time="5" />
      <senderName name="TestHarness" />
      <traceHttpRequest enabled="false" />
    </baseSettings>    
    <files default="Weekly">
      <autoSave name="Weekly" onNewDay="false" onMsgLimit="100000" recycleFilesEvery="7" onSize="0"/>
    </files>

    <!-- Message Patterns (for text files) -->
    <messagePatterns>
      <messagePattern name="pattern1" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%][%requestid%][%messagetype%] - %message%" />
    </messagePatterns>
    
    <!-- Routers -->
    <routers>
      <router name="routerTCP" type="RI.Messaging.ReadWriter.Implementation.TCP.TCPWriter, ReflectSoftware.Insight.Common" hostname="localhost" port="10881" connectionTimeout="3000" />
    </routers>

    <listenerGroups active="DevelopmentGroup">
      <group name="DevelopmentGroup" enabled="true">
        <destinations>
          <destination name="routerTCP" enabled="true" filter="" details="Router[name=routerTCP]" />
          <destination name="BinaryFile" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Logs\TestHarness.rlg; autoSave=Weekly]" />
          <destination name="TextFile" enabled="true" filter="" details="TextFile[path=$(workingdir)\Logs\TestHarness.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=Weekly]"/>
        </destinations>
      </group>
      <group name="ReleaseGroup" enabled="true">
        <destinations>          
          <destination name="routerTCP" enabled="true" filter="" details="Router[name=routerTCP]" />
          <destination name="BinaryFile" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Logs\TestHarness.rlg; autoSave=Weekly]" />
          <destination name="TextFile" enabled="true" filter="" details="TextFile[path=$(workingdir)\Logs\TestHarness.txt; messageDetails=Message|Details; messagePattern=pattern1; autoSave=Weekly]"/>
        </destinations>
      </group>
    </listenerGroups>

    <!-- Message Filtering -->
    <filters>
      <filter name="Level_Trace" mode="Include">
        <method type="SendTrace" />
        <method type="SendDebug" />
        <method type="SendInformation" />
        <method type="SendWarning" />
        <method type="SendError" />
        <method type="SendException" />
        <method type="SendFatal" />        
      </filter>
      <filter name="Level_Debug" mode="Include">
        <method type="SendDebug" />
        <method type="SendInformation" />
        <method type="SendWarning" />
        <method type="SendError" />
        <method type="SendException" />
        <method type="SendFatal" />        
      </filter>
      <filter name="Level_Info" mode="Include">
        <method type="SendInformation" />
        <method type="SendWarning" />
        <method type="SendError" />
        <method type="SendException" />
        <method type="SendFatal" />        
      </filter>
      <filter name="Level_Warn" mode="Include">
        <method type="SendWarning" />
        <method type="SendError" />
        <method type="SendException" />
        <method type="SendFatal" />        
      </filter>
      <filter name="Level_Error" mode="Include">
        <method type="SendError" />
        <method type="SendException" />
        <method type="SendFatal" />        
      </filter>
      <filter name="Level_Exception" mode="Include">
        <method type="SendException" />
        <method type="SendFatal" />        
      </filter>
      <filter name="Level_Fatal" mode="Include">
        <method type="SendFatal" />        
      </filter>
      <filter name="ErrorWarningFilter" mode="Include">
        <method types="SendError"/>
        <method types="SendException"/>
        <method types="SendFatal"/>
        <method types="SendWarning"/>
        <method types="SendInformation"/>        
      </filter>
      <filter name="EnterExitFilter" mode="Exclude">
        <method types="EnterExitMethod"/>
      </filter>
      <filter name="ExcludeSendSQL" mode="Exclude">
        <method type="SendSQL" />
      </filter>
    </filters>

    <exceptionManagement mode="on">
      <publisher mode="on"
                 name="EventPublisher"
                 type="RI.Utils.ExceptionManagement.ExceptionEventPublisher, ReflectSoftware.Insight"
                 applicationName="TestHarness" />

      <publisher mode="on"
                 name="LogTextFilePublisher"
                 type="RI.Utils.ExceptionManagement.ExceptionLogTextFilePublisher, ReflectSoftware.Insight"
                 filePath="$(workingdir)\Logs\TestHarness.Exceptions.txt"
                 recycle="7" />
    </exceptionManagement>

  </insightSettings>

</configuration>
